<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles.css" />
    <title>About</title>
    
  </head>
  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/awards">Awards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photo_gallery">Photo Gallery</a>
      </li>
    </ul>
    <section class="About">
      <h1 class="description">About the movie</h1>
      <p>
        The Lion King is an animated, musical/drama feature film produced by
        Walt Disney Feature Animation as the 32nd film in the Disney Animated
        Canon. Containing elements of Hamlet and Macbeth by William Shakespeare,
        the story centers a lion prince named Simba, who must overcome the loss
        of his father and his villainous uncle, Scar, in order to take his
        rightful place as the king of the Pride Lands.
      </p>
    </section>
    <section class="main_characters">
      <h2>Main characters</h2>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-400">
            <img
              src="https://wallpaperaccess.com/full/1267809.jpg"
              class="card-img-top"
              alt="Simba"
            />
            <div class="card-body">
              <h5 class="card-title">Simba</h5>
              <p class="card-text">
                Simba is a rowdy, independent little cub who likes to romp and
                play. When Simba's father dies, it leaves Simba unsure about who
                he is. Then Rafiki shows Simba his reflection in a pool and the
                young lion understands that his father's courage and wisdom are
                a part of him, too.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-400">
            <img
              src="https://m.media-amazon.com/images/M/MV5BMTM4OTg5NzE4OF5BMl5BanBnXkFtZTcwNjQ2NTI3Ng@@._V1_.jpg"
              class="card-img-top"
              alt="Timon"
            />
            <div class="card-body">
              <h5 class="card-title">Timon</h5>
              <p class="card-text">
                Timon is a hyperactive meerkat with a motor mouth. Whether he's
                making good-natured jokes at Pumbaa's expense or pitching his
                free-wheeling lifestyle to Simba, Timon always has a fast line.
                But behind the patter is a loyal little guy who'd give his last
                wisecrack to help a friend.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-400">
            <img
              src="https://mb.web.sapo.io/fd398e1d6437b66a6426636a1b5a0b82366c238e.jpg"
              class="card-img-top"
              alt="Pumba"
            />
            <div class="card-body">
              <h5 class="card-title">Pumba</h5>
              <p class="card-text">
                A well-padded warthog, Pumbaa is a bit clumsy and dimwitted, but
                his empathy and intuition make up for his slow thought
                processes. Sympathetic and warm-hearted, Pumbaa is ready to
                trust anyone-- even a carnivore like Simba. And when Simba
                confronts his destiny, the loyal warthog is the first to follow.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-400">
            <img
              src="https://i.insider.com/5d2f3723bda95f1b217aab42?width=700"
              class="card-img-top"
              alt="Mufasa"
            />
            <div class="card-body">
              <h5 class="card-title">Mufasa</h5>
              <p class="card-text">
                Regal, commanding and majestic, Mufasa is a great king with a
                kind, generous heart. Concerned with teaching his son Simba to
                be a wise, responsible adult and king, Mufasa can seem a bit
                stern at times, but it's only because he loves Simba and wants
                to keep the youngster on the right track.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-400">
            <img
              src="https://i.pinimg.com/originals/9f/dd/1c/9fdd1cbe4ef9d1011f6a76e43e62aa76.jpg"
              class="card-img-top"
              alt="Nala"
            />
            <div class="card-body">
              <h5 class="card-title">Nala</h5>
              <p class="card-text">
                Every bit as rambunctious as Simba, Nala is ready to go wherever
                he goes or do whatever he does. Best buddies, the twosome are
                taken aback when Zazu tells them they are to be married. What a
                yucky idea! But time changes things, and when they meet again,
                they realize their friendship has deepened into love.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-400">
            <img
              src="https://sportshub.cbsistatic.com/i/2021/03/16/7ade84a3-67b1-447d-a9f6-cb686698f196/the-lion-king-reboot-soundtrack-elton-john-beyonce-1085073.jpg"
              class="card-text" style="height:350px" 
              alt="Scar"
            />
            <div class="card-body">
              <h5 class="card-title">Scar</h5>
              <p class="card-text">
                As Mufasa's brother, Scar was next in line for the throne until
                Simba's birth, and he is obsessed with the need to possess it.
                Although Scar hides his plot with concern for Simba's safety,
                this evil, cunning betrayer is really Simba's and Mufasa's
                enemy-- a fact which the great-hearted Mufasa realizes too late.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
